#signinLabel {
    -fx-font-family: "Poppins", sans-serif;
    -fx-font-size: 2em; /* Equivalent to 32px */
    -fx-text-fill: #333333;
}

#usernameLabel {
    -fx-font-family: "Poppins", sans-serif;
    -fx-font-size: 1em;
    -fx-text-fill: #555555;
}

#loginPane {
    -fx-background-image: url("./images/loginBackground.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
#loginBox{
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-border-radius: 20em;
}

#usernameField {
    -fx-font-family: "Poppins", sans-serif;
    -fx-font-size: 1em; /* Equivalent to 16px */
    -fx-pref-height: 3.5em; /* Set preferred height to 56px */
    -fx-pref-width: 22.5em; /* Set preferred width to 459px */
    -fx-background-color: #f2f2f2; /* Light gray background color */
    -fx-border-color: #cccccc; /* Border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 5px; /* Border radius */
    -fx-padding: 0.5em; /* Add some padding */
}

#passwordLabel {
    /* Add styling for PasswordField if needed */
}
#loginBox {
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-border-radius: 20px; /* Apply curved edges */
    -fx-background-radius: 20px; /* Apply curved edges to the background */
}

/*Profile section*/
.profile-main-background{
    -fx-font-family: Poppins;
    -fx-background-color: linear-gradient(to top, #F5F5F5, #9cf8b8);
    -fx-padding: 30 20 30 20;
}
.profile-left-section, .profile-right-section, .profile-left-bottom-section{
    -fx-background-color: white;
    -fx-background-radius: 5;
}
#profile-name{
    -fx-font-size: 30;
    -fx-font-weight: bold;
}
#profile-username{
    -fx-font-size: 15;
}
#profile-image{
    -fx-fill: red;
    -fx-stroke: none;
}
#profile-image-delete-button{
    -fx-cursor: hand;
    -fx-border-color: red;
}
#profile-upload-button{
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-cursor: hand;
}
#logout-button{
    -fx-cursor: hand;
    -fx-font-size: 20;
    -fx-background-color: red;
    -fx-text-fill: white;
}
/*#profile-tab-pane{*/
/*    -fx-font-size: 20;*/
/*}*/
/*.tab {*/
/*    -fx-background-color: white;*/
/*}*/
#profile-tab-pane .tab-pane {
    -fx-background-color: white;
    -fx-font-size: 20;
}

#profile-tab-pane .tab {
    -fx-font-size: 20;
    -fx-background-color: transparent; /* Set the background color of individual tabs to transparent */
    -fx-text-fill: black; /* Set the text color of the tab labels */
}

#profile-tab-pane .tab:selected {
    -fx-background-color: white; /* Set the background color of the selected tab to white */
}

.profile-input-box{
    -fx-max-width: 250;
    -fx-min-height: 40;
    -fx-font-size: 15;
}
.profile-input-label{
    -fx-font-size: 15;
    -fx-text-fill: grey;
}
#profile-update-button{
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-size: 20;
}
#contact-us-label{
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
#contact-us-label2{
    -fx-font-size: 20;
    -fx-font-weight: lighter;
}
#contact-us-button{
    -fx-background-color: white;
    -fx-font-size: 20;
    -fx-border-color: red;
    -fx-border-radius: 20;
    -fx-cursor: hand;
}
